$color-pallete-1: #222831;
$color-pallete-2: #393e46;
$color-pallete-3: #00adb5;
$color-pallete-4: #eeeeee;

$color-grey-100: #f8f9fa;
$color-grey-200: #e9ecef;
$color-grey-300: #dee2e6;
$color-grey-400: #ced4da;
$color-grey-500: #adb5bd;
$color-grey-600: #6c757d;
$color-grey-700: #495057;
$color-grey-800: #343a40;
$color-grey-900: #212529;

$color-white: #ffffff;
$color-dark: $color-grey-900;
