@import "assets/styles/modules/colors.scss";

.studyExp {
  position: relative;
  display: flex;
  padding: 2mm 4mm;
  gap: 4mm;
  align-items: center;
  border-radius: 4mm;
  background-color: rgba($color: $color-pallete-3, $alpha: 0.2);
  p {
    text-indent: 0 !important;
  }
  .photo {
    width: 16mm;
  }
  h3 {
    font-size: 4.6mm;
    font-weight: 700;
  }
  .date {
    position: absolute;
    bottom: 0;
    left: 6mm;
    transform: translate(0, 50%);
    font-size: 3.2mm;
  }
}
